@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #293F14; 
}
a{
  text-decoration: none;
}

.container-fluid{
  background-color: #293F14;
}
.navbar-brand{
  display: flex;
  width: auto;
  height: 130px;
  padding: 30px;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 130px;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  
}

.nav-link{
  display: flex;
  font-size: 15px;
  align-items: center;
  color: white;
  
}
.nav-link:hover{
  text-decoration-color: white;
  text-decoration: underline;
  color: white;
}
.navbar-toggler{
  background-color: white;
}
button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #0000;
}
.button-don{
  background-color: #4ea5d9;
}
.button-langue{
  background-color: white;
  color: black;
}
.button-langue:hover{
  text-decoration-color: black;
  text-decoration: underline;
  color: black;
}
footer{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 300px;
  background-color: #4ea5d9;
  color: white;
}


.logo-footer{
 position: absolute;
  display: flex;
  justify-content: center;
  width: auto;
  height: 100px;
  z-index: 3;
}
.a-footer{
  position: absolute;
  color: white;

}

.colonne1{
  display: flex;
  height: auto;
  justify-content: center;
}

.colonne2{
 height: auto;
  display: flex;
  justify-content: center;
}

.reseaux_sociaux{
  height: 5%;
  border-radius: 50%;
}