body{
    overflow:hidden;
}

  .swiper-container {
    width: 100%;
}

.swiper-slide {
    background-size: cover;
    background-position: 50%;
    min-height: 80vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


 .swiper-pagination {
  &-bullet {
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      opacity: 1;
  }

  &-bullet-active {
      background-color: #fff;
  }
}

