.hero_détail_nouvelle{
    width: 100%;
    height: 100%;
    position: relative;
  }

.image_détail_nouvelle .titre_détail_nouvelle{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
    padding: 30px;
    
}
.image_détail_nouvelle{
    width: 100%;
    height: 100%;
    position: relative;
}
.titre_détail_nouvelle h2{
    font-size: 5vw;
    color: white;
}
.image_détail_nouvelle .opacity_hero_détail{
    width: 100%;
    height: 100%;
    background-color: #F47B28;
    opacity: 40%;
    position: absolute;
    overflow: hidden;
}

.text_détail_nouvelles{
    color: white;
    font-size: 1.6vw;
    padding-left:8%;
    padding-top:8%;
    padding-right:8%;
}

@media screen and (max-width: 768px) {
    .text_détail_nouvelles {
      font-size: 2.2vw;
    }
}

.cartes-detail-nouvelle{
    position: relative;
    width:40vw;
    height: 30vw;
    margin: 10px;
    overflow: hidden;
    margin-left: 8%;
}
.detail-nouvelle-content{
    color: white;
    padding-left: 8%;
    padding-right: 8%;
}

.flex-detail-nouvelle{
    display: flex;
}
.titre-prochaine-nouvelle{
    color: white;
    margin-left: 8%;
    margin-top: 6%;
}
.titre-prochaine-nouvelle h2{
    font-size: 4vw;
}