.equipe-content{
    display: flex;
}
.equipe-content-2{
    display: flex;
    flex-wrap: wrap;
}
.flex-equipe{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.titre_equipe h2{
    font-size: 4vw;
    color: white;
    padding: 2%;
}
.img-equipe{
    width: 20vw;
    margin-left: 0.5vw;
}
.txt-equipe{
    margin-left: 0.5vw;
    font-size: 1.8vw;
    color: white;
}