.cartes_services{
    position: relative;
    display:flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.cartes2{
    position: relative;
    width:40vw;
    height: 30vw;
    margin: 10px;
    overflow: hidden;
    
}