.cartes_services{
    position: relative;
    display:flex;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.cartes2{
    position: relative;
    width:40vw;
    height: 30vw;
    margin: 10px;
    overflow: hidden;
    
}
.cartes-detail-service{
    position: relative;
    width:40vw;
    height: 30vw;
    margin: 10px;
    overflow: hidden;
    margin-left: 8%;
}
.detail-service-content{
    color: white;
    padding-left: 8%;
    padding-right: 8%;
}
.detail-service-container{
    padding-top: 2%;
}
.flex-detail-service{
    display: flex;
}
.titre-prochain-service{
    color: white;
    margin-left: 8%;
    margin-top: 6%;
}
.titre-prochain-service h2{
    font-size: 4vw;
}